.full-width {
    width: 100%;
}
  
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.contenedor {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    // margin:1rem auto;
    max-width: 1000px;
  } 
  .elemento{
    width:25%;
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  