<h2>Bienvenida</h2>
<mat-sidenav-container class="container">
  <!-- side-nav -->
  
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar class="toolbar">LEONISA</mat-toolbar>
    <!-- Elements list menu -->
    <mat-list>
      <mat-list-item *ngFor="let item of links" (click)="!isContentLoading && loadContent(item.id)" [class.disabled]="isContentLoading"> 
        <a matLine [routerLink]="item.url">{{ item.name }}</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <!-- side-nav-content -->
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <span>Interfaz Tiendas </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container-page">
      <!-- <button (click)="getAllTasks()">Todas las Tareas</button> -->
     <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <button (click)="getAllTasks()">Todas las Tareas</button>

<button (click)="getTask()">Tarea</button> -->
<!-- <div class="contenedor">
    <mat-checkbox [(ngModel)]="opcion1">Tienda</mat-checkbox>
    <mat-checkbox [(ngModel)]="opcion2">OUTLET</mat-checkbox>
    <mat-checkbox [(ngModel)]="opcion3">Duty Free</mat-checkbox>
    <mat-checkbox [(ngModel)]="opcion4">ZEBRA</mat-checkbox>
</div> -->

<!-- <div class="contenedor">
    <div class="elemento">1</div>
    <div class="elemento">2</div>
    <div class="elemento">3</div>
    <div class="elemento">4</div>
    <div class="elemento">5</div>
    <div class="elemento">6</div>
    <div class="elemento">7</div> -->
<!-- </div> -->

